body {
    font-family: "Outfit", sans-serif;
    background-color: hsl(330, 100%, 98%);
    font-size: 16px;
    min-height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    line-height: 2rem;
    margin: 0;
    color: hsl(30, 10%, 34%);
    
    
}

:where(main ol, main ul) {
    margin-inline-start: 0;
    padding-inline-start: 23px;
  }
.Prep-time {
    color:hsl(332, 51%, 32%);
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    font-size: 20px;
}

h1 {
    font-family: "Young Serif", serif;
    font-weight: 500;
}

h2 {
    font-family: "Young Serif", serif;
    color: hsl(14, 45%, 36%);
    font-weight: 400;
    padding-left: 0%;
    margin-left: 0%;
}



img {
    width: 100%;
    border-radius: 10px;
}
.small-container {
    background-color: hsl(330, 100%, 98%);
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    line-height: 2rem;
    
}

.container {
    background-color: hsl(0, 0%, 100%);
    max-width: 650px;
    padding: 40px;
    border-radius: 15px;
}


hr {
    
    border: 1px solid #f3f2f2;
}

    /* trying to indent the list items */


    
    ul {
        text-indent: 3%;
    }

   ol li {
    margin-left: 0;
    padding-left: 1.5em;
    list-style-position: outside;
   }

      ::marker {
        color: hsl(14, 45%, 36%);
        font-weight: 600;      
}
      
/* How do I get this to look like a table should i even use a table or grid*/


.values-nutrition {
    color: hsl(14, 45%, 36%);
    font-weight: 600;
    text-align: left;
    
}


table {
    width: 100%;
    max-width: auto;
    border-collapse: collapse;
}

th,td {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border-bottom: 1px solid lightgray;
}

.nutrition {
   text-indent: 10%;
    
}


 hsl(0, 0%, 100%)

- Stone 100: hsl(30, 54%, 90%)
- Stone 150: hsl(30, 18%, 87%)
- Stone 600: hsl(30, 10%, 34%)
- Stone 900: hsl(24, 5%, 18%)

- Brown 800: hsl(14, 45%, 36%)

- Rose 800: hsl(332, 51%, 32%)
- Rose 50: hsl(330, 100%, 98%)







  